
h2{
  color:orange;
}

imag.align-left,
imag.align-right{
  margin-bottom: 10 px;
}

imag.align-left,
imag.align-right{
  margin-right: : 10 px;
}

imag.align-left,
imag.align-right{
  margin-left: : 10 px;
}
