squares > div {float : left;width: 50%;}
squares > div  img{max-width: 100%;height: auto;}

squares > div:nth-child(1){
  background-color: yellow;
}

squares > div:nth-child(2){
  background-color: orange;
}

squares > div:nth-child(3){
  background-color: blue;
}

squares > div:nth-child(4){
  background-color: green;
}
