.blue-class{
    background-color:blue!important;
}
.rose-class{
    background-color:#F6B2E1!important;
}
.orange-class{
    background-color:orange!important;
}
.green-class{
    background-color:green!important;
}